/*Seletor universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Seletor de tag*/
body{
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(216, 121, 83);
}

#cabecalho{
    background-color: #ffe7e7;
    color: rgb(216, 121, 83);
    text-align: center;
    padding: 60px;
}

#titulo{
    color: rgb(189, 106, 74);;
    font-size: 2.5em;
}

.menu-item{
    display: inline-block;
    margin: 10px;
}

nav{
    text-align: center;
    background-color:rgb(230, 120, 77);
}

.menu-item a{
    color:#ffe7e7;
    font-size: 1.5em;
}

.menu-item a:hover{
    color: black;
    font-size: 2em;
    transition: 1s;
}

#destaque{
    font-size: 1.5em;
    color: #ffe7e7;
    text-align: center;
    margin-top: 30px;
}

.btn{
    padding: 29px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: white;
    color:rgb(230, 120, 77);
    border:rgb(189, 106, 74);
}

.btn:hover{
    background-color:rgb(230, 120, 77);
    color: white;
    cursor: pointer;
}

#h22{
    text-align: center; 
    margin-top: 40px;
    color: rgb(216, 121, 83);
    background-color: #ffe7e7;
    padding: 20px;
    max-width: 500px; 
    margin-left: auto;
    margin-right: auto;
}

#h21{
    text-align: center; 
    margin-top: 40px;
    color: rgb(216, 121, 83);
    background-color: #ffe7e7;
    padding: 20px;
    max-width: 500px; 
    margin-left: auto;
    margin-right: auto;
}

.promocao{
    height: auto;
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.nome{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 140px;
    margin-bottom: 10px;
    color:  white;
}

img{
    width: 400px;
}

.preco{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 164px;
    margin-bottom: 10px;
    color: white;
}

.promocao2{
    height: auto;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    transition: 1s;
}

.nome2{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 157px;
    margin-bottom: 15px;
    color:  white;
}

img{
    width: 400px;
}

.preco2{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 173px;
    margin-bottom: 10px;
    color: white;
}

footer{
    color: black;
    background-color: aliceblue;
    padding: 15px;
}

/*CSS.CONTATOS*/

h1{
    text-align: center; 
    margin-top: 40px;
    color: white;
    padding: 20px;
    margin-left: 700px;
    margin-right: 700px;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    margin: 10px;
    color: black;   
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 450px;
    margin-left: 720px;
    border-radius: 40px 0 30px 0;
}

label{
    margin-top: 20px;
}

.btn2{
    padding: 10px;
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: rgb(230, 120, 77);
    color:white;
    border: none;
}

.btn2:hover{
    background-color: white;
    color: rgb(230, 120, 77);
    cursor: pointer;
}

.nome3{
    padding: 8px;
    width: 300px;
    border-radius: 10px;
    border: none;
}

